{% from 'macros/store_section.html' import store_section %}

{% extends "misc/base.html" %}

{% block title %}Főoldal{% endblock %}

{% block page %}
<section class="row flex-lg-row-reverse align-items-center g-5 py-2 px-3 bg-dark text-white rounded-bottom-5">
    <div class="col-10 col-sm-8 col-lg-6 mx-auto d-none d-lg-flex">
        <img src="{{ url_for('static', filename='img/hero.png') }}" class="d-block mx-lg-auto img-fluid" alt="" width="500" height="500">
    </div>
    <div class="col-lg-6 text-lg-start text-center">
        <h1 class="display-4 fw-bold lh-1 mb-3 text-glow">Rendelj kényelmesen</h1>
        <p class="lead">Éhes vagy? Megoldjuk! Csupán annyit kell tenned, hogy megrendeled a kedvenc ételed az alábbi katalógusból.</p>
        <p class="lead text-white-50 fs-6">Kép: pngtree.com</p>
    </div>
</section>
{% if menus|length > 0 %}
{{ store_section("Menük", menus) }}
{% endif %}
{% if foods|length > 0%}
{{ store_section("Ételek", foods) }}
{% endif %}
{% if beverages|length %}
{{ store_section("Italok", beverages) }}
{% endif %}
{% endblock %}