{% extends "misc/base.html" %}

{% block title %}Főoldal{% endblock %}

{% block page %}
<header>étlap</header>

<div class="p-3 mb-2 bg-dark-subtle text-dark-emphasis">főétel: édesfaszfőzelék</div>

<section class="row g-3">
    {% for meal in meals %}
    <div class="col col-3">
        <article class="card h-100">
            <img src="..." class="card-img-top h-10" alt="{{ meal.name }} illusztrációja">
            <div class="card-body">
                <h5 class="card-title fw-bolder fs-4">{{ meal.name }}</h5>
                <p class="card-subtitle text-body-secondary mb-0">
                    {% for star in range(meal.stars) %}<i class="bi bi-star-fill text-warning"></i>{% endfor %} ({{ meal.stars }})
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ meal.description or "Ennek az ételnek vagy italnak nincs leírása, de biztosan nagyon finom." }}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="btn btn-outline-primary w-100 mt-auto"><i class="bi bi-cart-plus"></i> {{ meal.price }} {{ meal.currency }}</a>
            </div>
        </article>
    </div>
    {% endfor %}
</section>

{% endblock %}