.card > .card-img-top {
    height: 12rem;
    line-height: 12rem;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    object-fit: contain;
}

.card > .card-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.meal-description {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limits to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}